body{
  margin: 0%;
}
.bar{
    display: flex;
    list-style: none;
    
    justify-content: center;
    background-color: gray;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    overflow: hidden;
    position: fixed;
    block-size: 90px;

 
}
.link{

    text-decoration: none;
   block-size: 60px;
    font-size: 30px;
    color: rgb(21, 21, 20);
    background-color: rgb(243, 235, 243);
   padding: 10px;
   margin: 10px;
    
    

}
.link:hover{
background-color: aliceblue;
}
#store{
  margin-inline-end: 450px;
}
.fxed{
  padding: 16px;
  margin-block-start: 30px;
  block-size: 1500px
}

   
