*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    list-style: none;
    text-decoration: none;
    
}
.main li{
    margin: 20px;
    text-decoration: none;
}.name{
    font-size: large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}
.nav{
   
   display: flex;
   align-items: flex-end;
   text-decoration: none;
}
.main{
background-color: aquamarine;
color: aliceblue;
}
a{
    text-decoration: none;
}
.container{
    background-image: url("asdfg.jpg");
    background-repeat: no-repeat;
 
    background-size: 100% 800px;
    
    

}
h1{
    margin-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
}
#menu-btn{
    margin-top: 30px;
    margin-bottom: 50px;
}
.text{
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: larger;
}
img{
    opacity: 0.5;
}
#menu-btn{
    border: 1px solid red;
    background: linear-gradient(rgb(18, 18, 17), rgb(103, 103, 101));
    height: 40px;
    width: 150px;
    color: rgb(237, 233, 228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-weight: 300;
    cursor: pointer;
}
#menu-btn:hover{
    background: linear-gradient(orange, purple);

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 20px;
    text-align: center;
    font-family: arial;
    margin-bottom: 50px;
    padding: 18px;
    margin-left: 20px;
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
  }
  .card:hover{
    scale: 1.04;
    box-shadow:  2px 1px #888888;
  }
  .cards{
    display: flex;
  }